
@{
    ViewBag.Title = "GioiThieu";
    Layout = "~/Views/Shared/_LayoutGioHang.cshtml";
}

<div class="column">
    <div class="wm-module wm-post wm-limit-img">
        <p style="text-align: center;"><span style="font-size: 24pt;"><strong>Giới thiệu</strong></span></p>
        <p><span style="font-size: 16pt;">
    <strong>Cửa hàng Anmii </strong>bắt đầu đi vào hoạt động từ năm 2017. Diện tích cửa hàng chỉ 40m2, ở số 32 Đoàn Trần Nghiệp.
    &nbsp;Khi đó, cửa hàng chủ yếu kinh doanh quần áo, chuyên sản xuất áo thun và nhận làm đồng phục cho các công ty hay tập thể. Bên cạnh đó, cửa hàng còn kinh doanh song song trà tắc và nhận giặc giặc ủi. Khi đó cửa hàng Anmii là nơi đầu tiên bán trà tắt ở Nha Trang. Theo chủ cửa hàng chia sẻ thì thời điểm đó từng có đề nghị mua lại thương hiệu nhưng anh chị không bán. Sau này trà tắc trở thành loại nước uống phổ biến ở Trang cũng như những vùng lân cận.
</span></p>
        <p><br><span style="font-size: 16pt;"><img src="https://scontent.fdad2-1.fna.fbcdn.net/v/t39.30808-6/241488285_111768494629365_6542993504364447602_n.jpg?_nc_cat=101&ccb=1-7&_nc_sid=e3f864&_nc_ohc=ot6cnH9isXkAX-Rga84&_nc_ht=scontent.fdad2-1.fna&oh=00_AT-FI3F0lh9zrVwv3_fVivDaoYytrrclYyC5-8KP9RFAZQ&oe=62988296" alt=""></span></p>
        <p><br><span style="font-size: 16pt;">
    <strong>Đến đầu năm 2020, </strong><strong>&nbsp;</strong>mở thêm cửa hàng 2, ở đường Nguyễn Đình Chiểu, cửa hàng này chủ yếu bán bánh mì mang đi, và một số loại nước, sinh tố.&nbsp;
    Trong vòng chưa đến 5 năm cửa hàng Anmii từ một cửa hàng chuyên sản xuất áo thun,, đồng phục đã phát triển mở rộng sang lĩnh vực ăn uống với 2 cửa hàng nằm ở khu vực dốc đại học. Hoạt động của cửa hàng đang dần phát triển và trở nên quen thuộc với sinh viên trường Đại học Nha Trang.
</span>
    </div>
</div>
