@{ 
    Layout = null;
}
<!DOCTYPE html>

<html>
<head>
    <meta name='viewport' content='width=device-width, initial-scale=1'>

    <title>Anmii</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <link href="~/Content/StyleHomePage.css" rel="stylesheet" />
    <link rel='stylesheet' type='text/css' href='/Icons/css/all.css'>
    @RenderSection("Scripts", required: false)


</head>
<body style="padding: 0px">
    <header>
        <div id="time" class="bg-warning">
            <p>Giờ mờ cửa từ 7:00 đến 22:00 hàng ngày</p>
        </div>
        <!-- *************************************************************** -->
        <div class="row" style="background-color:lightyellow">
            <div class="col-lg-12">
                <center>
                    <div class="col-lg-6 m-3">
                        <a class="navbar-brand zoom" href="~/MON_AN_NguoiDung/Index">
                            <img class="rounded-circle" style="width:10vw" id="logo" alt="logoAnmii" src="~/Images/logo.png">
                        </a>
                    </div>

                </center>
            </div>
            <div class="col-lg-12">
                <center>
                    <div class="col-lg-6 m-3">
                        @using (Html.BeginForm("TimKiem", "MON_AN_NguoiDung", FormMethod.Get))
                        {
                            <div class="input-group">
                                <input type="text" class=" margin-right form-control" size="50" placeholder="Tìm kiếm món ăn tại đây..." name="param">
                                <div class="input-group-input-group-append">
                                    <button class="btn bg-warning"><span class="fas fa-search"></span></button>
                                </div>
                            </div>
                        }
                    </div>
                </center>
            </div>
        </div>
        <!-- *************************************************************** -->
        <nav class="navbar navbar-expand-md bg-warning navbar-dark d-flex">

            <button class="navbar-toggler float-left" data-toggle="collapse" data-target="#Menu">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse  justify-content-between w-100" id="Menu">
                <ul class="navbar-nav">

                    <li class="nav-item"><a style="color:white;" class="nav-link" href="~/MON_AN_NguoiDung/Index">TRANG CHỦ</a></li>
                    <li class="nav-item"><a style="color:white" class="nav-link" href="~/ChiTiet/GioiThieu">GIỚI THIỆU</a></li>
                    <li class="nav-item dropdown">
                        <a style="color:white" class="nav-link dropdown-toggle" role="button" data-toggle="dropdown" href="#">SẢN PHẨM</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item text-warning" href="~/MON_AN_NguoiDung/IndexDoAn">Đồ ăn</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item text-warning" href="~/MON_AN_NguoiDung/IndexDoUong">Đồ uống</a>
                        </div>
                    </li>
                    <li class="nav-item"><a style="color:white" class="nav-link" href="~/ChiTiet/LienHe">LIÊN HỆ</a></li>
                </ul>
            </div>
            <div class="d-flex justify-content-end ">
                <a href="~/GioHang/GioHang" style="color:black; font-size:25px">
                    <p class="fa fa-shopping-cart"></p>
                </a>
            </div>
        </nav>
    </header>
    <div>
        @RenderBody()
    </div>
    <footer class="bg-warning p-5">
        <div id="footer" class="row">
            <div class="col-lg-5 col-md-12">
                <b>CỬA HÀNG ANMII</b><br />Số 59 nguyễn đình chiểu Thành phố Nha Trang, Khánh Hòa
                <br />Số 46 nguyễn đình chiểu Thành phố Nha Trang, Khánh Hòa<br />
                Hotline: 0979.086.069- 0829.499.778<br />
                Email: <a style="color: black" href="#">anmiishop@gmail.com</a><br />
                Trang web: <a style="color: black" href="#">anmii.com</a><br />
            </div>
            <div class="col-lg-3 col-md-12">
                <b>HỖ TRỢ KHÁCH HÀNG</b>
                <ul style="list-style-type:none ">
                    <li><a style="color: black" href="~/Login/Login">Đăng Nhập</a></li>
                    <li><a style="color: black" href="#">Điều Khoản Sử Dụng</a></li>
                    <li><a style="color: black" href="#">Chính Sách thanh Toán</a></li>
                    <li><a style="color: black" href="#">Chính Sách Giao Hàng</a></li>
                    <li><a style="color: black" href="#">Hướng Dẫn Mua Hàng Online</a></li>
                </ul>
            </div>
            <div class="col-lg-4 col-md-12">
                <b>THEO DÕI QUÁN ANMII</b>
                <br />
                <a href="https://www.facebook.com/BanhMiNhaTrang/"><img style="width: 50px; height:50px; border-radius:30%" src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/ff/Facebook_logo_36x36.svg/600px-Facebook_logo_36x36.svg.png" /></a>
                <hr />
                <b>GIỚI THIỆU</b>
                <ul style="list-style-type:none">
                    <li><a style="color:black" href="~/GioiThieu/Index">Giới Thiệu Về Cửa Hàng</a></li>
                    <li><a style="color:black" href="~/GioiThieu/LienHe">Liên Hệ Chúng Tôi</a></li>
                </ul>
            </div>
        </div>
    </footer>
    <div id="copy">
        <div class="container p-5">
            <div class="row">
                <div class="col-12">
                    <div class="copyright text-center">
                        <p>Copyright © <a href="#">Nhóm . Anmii </a> All Right Reserved.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>